extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Peter May

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I love challenges. As a plumber I worked my way through college.
            br
            br
            | While taking 18 credit hours in college, I switched jobs and became the sales manager for the industrial fire alarm division. Growing our network and creating turn-key solutions for our clients.
            br
            br
            | After college I went on to do contract negotiations and project management to round my business experience.
            | I have spent a great deal of time working in teams, communicating and creating clear expectations.
            br
            br
            |I enjoy programming and my diverse experience makes me a great part of any team.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Education
        ul
          li Treehouse: Fullstack JavaScript - 2020
          li TCF - French B2 Certification - 2019
          li Bachelor B.A. U.N.T. - 2013 
           

        h6 Skills
        ul
          li Express
          li Javascript
          li Node
          li French Language
          li Project Management
          li Communication
          li NPM
          li Contract Negotiation
          li Marketing
          li Team Management
          li Rock Climbing
          li Cooking
        
        h6 Contact Info

        ul
          li +33 6-66-17-64-09
          li peterturnmay@gmail.com

        a.button.expanded(href='https://linkedin.com/in/peter-may-b2877837') LinkedIn
        a.button.expanded(href='https://github.com/Peterturn') GitHub
        a.button.expanded(href='https://twitter.com/peter_turn') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  